* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Courier New", "Courier", sans-serif;
    color: #fff;
    background: linear-gradient(to top right, #43389f 0%, #4ec6ca 100%);

    
} 

.number{
    position: relative;
    height: 100px;
    width: 200px;
    display: flex;
}

.one{
    height: 100px;
    width: 24px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.4);
}

.one::before{
    content: "";
    position: absolute;
    height: 40px;
    width: 24px;
    transform: rotate(50deg);
    background-color: #fff;
    border-radius: 3px;
    left: -18px;
    top: 2px;
}

.fzero, .szero{
    position: absolute;
    left: 15px;
    height: 100px;
    width: 100px;
    border: 24px solid #fff;
    border-radius: 50px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.4);
    z-index: 3;
}

.szero {
    left: 100px;
    z-index: 2;
}

.sp1{
    font-size: 82px;
    font-weight: 900;
    line-height: 60px;
    margin-top: 10px;
    margin-bottom: 0;
    text-transform: uppercase;
}


.sp2{
    font-size: 25px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}